html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea {
  all: unset;
}

a {
  color: #DDDDDD;
}

body {
  background-color: #222831;
  overflow-x: hidden;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  color: #DDDDDD;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 700px;
  margin-top: 300px;
}

.background-cup {
  opacity: 0.5;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-i-am {
  width: 1300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  z-index: 2;
}

.about-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-header {
  font-size: 35px;
}

.about-me-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  justify-content: space-around;
}

.about-me-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.about-photo {
  width: 300px;
  height: 500px;
}

.about2-photo {
  width: 300px;
  height: 500px;
}

.about-about {
  width: 400px;
  height: 500px;
}

.about-text {
  font-size: 23px;
}

li {
  margin: 20px 0px 0px 10px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
}

.about-header {
  display: flex;
  justify-content: end;
}

.link-github {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
  margin-top: 50px;
}

.uil.uil-github-alt {
  margin-right: 20px;
  transition: 0.5s;
  font-size: 50px;
  color: #DDDDDD;
}
.uil.uil-github-alt:hover {
  transition: 0.5s;
  text-shadow: 0px 0px 20px #DDDDDD;
}

/* projects */
.projects {
  margin-top: 100px;
}

.running-cat {
  display: flex;
  justify-content: center;
}

.running-cat iframe {
  margin-bottom: 50px;
  margin-right: 50px;
  border-radius: 20px;
  width: 800px;
  height: 600px;
}

.catdesc {
  margin-top: 50px;
  font-size: 30px;
  width: 25vw;
}

/*# sourceMappingURL=index.css.map */
