html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea {
  all: unset;
}

a {
  color: #DDDDDD;
}

.about-cup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 70vh;
  margin: 200px 0px 0px 0px;
}

.background-cup {
  opacity: 0.5;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.who-i-am {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 35px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-header {
  font-size: 35px;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-around;
  text-align: end;
}
.about-me .about-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 200px;
}

.about-languages {
  margin: 200px 0px 0px 0px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-languages .about-about {
  width: 400px;
  height: 700px;
}

.about-photo {
  width: 350px;
  height: 500px;
  background-image: url("/assets/images/denis2.png");
  border-radius: 10px 15px 10px 15px;
  background-size: cover;
}

.about-text {
  font-size: 25px;
}
.about-text ul li {
  margin: 20px 0px 0px 10px;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
}

.stat-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.stat-text {
  width: 300px;
  font-size: 30px;
  text-align: center;
}

.link-github {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 30px;
  margin-top: 50px;
}

.uil.uil-github-alt {
  margin-right: 20px;
  transition: 0.5s;
  font-size: 50px;
  color: #DDDDDD;
}
.uil.uil-github-alt:hover {
  transition: 0.5s;
  text-shadow: 0px 0px 20px #DDDDDD;
}

.running-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}
.running-cat iframe {
  border-radius: 20px;
  width: 800px;
  height: 600px;
}

.catdesc {
  margin-top: 50px;
  font-size: 25px;
  width: 500px;
}

@media screen and (max-width: 500px) {
  * {
    flex-wrap: wrap;
  }
  .link-github {
    font-size: 25px;
  }
  .uil.uil-github-alt {
    font-size: 40px;
  }
  .about-cup {
    width: 100vw;
    margin: 100px 0px 0px 0px;
  }
  .who-i-am {
    width: 300px;
    font-size: 25px;
  }
  .background-cup {
    width: 100vw;
  }
  .about-me {
    width: 100vw;
    margin: 100px 0px 0px 0px;
  }
  .about-languages {
    width: 100vw;
  }
  .about-languages .about-about {
    height: 600px;
  }
  .about-header {
    text-align: center;
  }
  .about-text {
    text-align: center;
    font-size: 20px;
  }
  .stat {
    width: 100vw;
  }
  .stat-stat {
    height: 400px;
  }
  .stat-text {
    font-size: 20px;
    width: 50vw;
  }
  .running-cat iframe {
    width: 100vw;
    margin: 0;
  }
  .catdesc {
    font-size: 20px;
    width: 90vw;
    margin: 30px 20px 20px 20px;
  }
}
body {
  background-color: #222831;
  overflow-x: hidden;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  color: #DDDDDD;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

/*# sourceMappingURL=index.css.map */
