.link-github {
    @include center;
    text-decoration: none;
    font-size: $mfs;
    margin-top: 50px;
}

.uil.uil-github-alt {
    margin-right: 20px;
    transition: 0.5s;
    font-size: 50px;
    color: $text-col;
    &:hover {
        transition: 0.5s;
        text-shadow: 0px 0px 20px $text-col;
    }
}