@import 'reset';
@import 'mixins';
@import 'about';
@import 'header';
@import 'projects';
@import 'mediaquery';

body {
    background-color: #222831;
    overflow-x: hidden;
    user-select: none;
    font-family: $ff;
    color: $text-col;
}
.container {
    @include center;
    width: $aw;
    height: $ah;
}

// if you are reading this, have a nice day :)
// code by sherstnew